<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[10]">
</mat-paginator>

<mat-accordion>
  <!--1st cardi B-->
  <mat-expansion-panel >
    <mat-expansion-panel-header class="c">

      <mat-panel-title class="c"><mat-icon>album</mat-icon>
        Cardi B
      </mat-panel-title>
      <mat-panel-description class="cd">
        Click on link to listen Music

      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list role="list" class="ni">
      <mat-list-item role="listitem" class="ni"><mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=bIFog12aGls&feature=youtu.be" target="_blank" >I Like It </a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href= "https://www.youtube.com/watch?v=8zSRkr1nQNw&feature=youtu.be" target="_blank">Be Careful</a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=yLczB9NiDmY&feature=youtu.be" target="_blank">Best Life</a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon> <a href="https://www.youtube.com/watch?v=_lioDjWSWcE&feature=youtu.be" target="_blank">Pull Up </a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=Psn0fiNaHOw&feature=youtu.be" target="_blank">I Do </a></mat-list-item>
    </mat-list>
  </mat-expansion-panel>

<!-- Second Taylor Swift-->
  <mat-expansion-panel>
    <mat-expansion-panel-header >

      <mat-panel-title ><mat-icon>album</mat-icon>
        Taylor Swift
      </mat-panel-title>
      <mat-panel-description  class="cd">
        Click on link to listen Music

      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list role="list">
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=bIFog12aGls&feature=youtu.be" target="_blank">I Like It </a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href= "https://www.youtube.com/watch?v=8zSRkr1nQNw&feature=youtu.be" target="_blank">Be Careful</a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=yLczB9NiDmY&feature=youtu.be" target="_blank">Best Life</a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon> <a href="https://www.youtube.com/watch?v=_lioDjWSWcE&feature=youtu.be" target="_blank">Pull Up </a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=Psn0fiNaHOw&feature=youtu.be" target="_blank">I Do </a></mat-list-item>
    </mat-list>
  </mat-expansion-panel>

<!-- Third Start Imagine Dragon-->
  <mat-expansion-panel>
    <mat-expansion-panel-header class="c">

      <mat-panel-title class="c"><mat-icon>album</mat-icon>
        Imagine Dragon
      </mat-panel-title>
      <mat-panel-description class="cd">
        Click on link to listen Music

      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list role="list" class="ni">
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=bIFog12aGls&feature=youtu.be" target="_blank">I Like It </a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href= "https://www.youtube.com/watch?v=8zSRkr1nQNw&feature=youtu.be" target="_blank">Be Careful</a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=yLczB9NiDmY&feature=youtu.be" target="_blank">Best Life</a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon> <a href="https://www.youtube.com/watch?v=_lioDjWSWcE&feature=youtu.be" target="_blank">Pull Up </a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=Psn0fiNaHOw&feature=youtu.be" target="_blank">I Do </a></mat-list-item>
    </mat-list>
  </mat-expansion-panel><mat-expansion-panel>

  <!--Drake start-->
  <mat-expansion-panel-header>

    <mat-panel-title><mat-icon>album</mat-icon>
      Drake
    </mat-panel-title>
    <mat-panel-description class="cd">
      Click on link to listen Music

    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-list role="list">
    <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=bIFog12aGls&feature=youtu.be" target="_blank">I Like It </a></mat-list-item>
    <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href= "https://www.youtube.com/watch?v=8zSRkr1nQNw&feature=youtu.be" target="_blank">Be Careful</a></mat-list-item>
    <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=yLczB9NiDmY&feature=youtu.be" target="_blank">Best Life</a></mat-list-item>
    <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon> <a href="https://www.youtube.com/watch?v=_lioDjWSWcE&feature=youtu.be" target="_blank">Pull Up </a></mat-list-item>
    <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=Psn0fiNaHOw&feature=youtu.be" target="_blank">I Do </a></mat-list-item>
  </mat-list>
</mat-expansion-panel>
  <!-- Arijit Sing Start-->
  <mat-expansion-panel>
    <mat-expansion-panel-header class="c">

      <mat-panel-title class="c"><mat-icon>album</mat-icon>
        Arijit Sing
      </mat-panel-title>
      <mat-panel-description class="cd">
        Click on link to listen Music

      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list role="list" class="ni">
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=bIFog12aGls&feature=youtu.be" target="_blank">I Like It </a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href= "https://www.youtube.com/watch?v=8zSRkr1nQNw&feature=youtu.be" target="_blank">Be Careful</a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=yLczB9NiDmY&feature=youtu.be" target="_blank">Best Life</a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon> <a href="https://www.youtube.com/watch?v=_lioDjWSWcE&feature=youtu.be" target="_blank">Pull Up </a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=Psn0fiNaHOw&feature=youtu.be" target="_blank">I Do </a></mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <!-- Sonu Nigam-->

  <mat-expansion-panel>
    <mat-expansion-panel-header>

      <mat-panel-title><mat-icon>album</mat-icon>
        Sonu Nigam
      </mat-panel-title>
      <mat-panel-description class="cd">
        Click on link to listen Music

      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list role="list">
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=bIFog12aGls&feature=youtu.be"  target="_blank">I Like It </a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href= "https://www.youtube.com/watch?v=8zSRkr1nQNw&feature=youtu.be" target="_blank">Be Careful</a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=yLczB9NiDmY&feature=youtu.be" target="_blank">Best Life</a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon> <a href="https://www.youtube.com/watch?v=_lioDjWSWcE&feature=youtu.be" target="_blank">Pull Up </a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=Psn0fiNaHOw&feature=youtu.be" target="_blank">I Do </a></mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <!--Sunidhi Chauhan-->
  <mat-expansion-panel>
    <mat-expansion-panel-header class="c" >

      <mat-panel-title class="c"><mat-icon>album</mat-icon>
        Sunidhi Chauhan
      </mat-panel-title>
      <mat-panel-description class="cd">
        Click on link to listen Music

      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list role="list" class="ni">
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=bIFog12aGls&feature=youtu.be" target="_blank" >I Like It </a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href= "https://www.youtube.com/watch?v=8zSRkr1nQNw&feature=youtu.be" target="_blank">Be Careful</a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=yLczB9NiDmY&feature=youtu.be" target="_blank">Best Life</a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon> <a href="https://www.youtube.com/watch?v=_lioDjWSWcE&feature=youtu.be" target="_blank">Pull Up </a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=Psn0fiNaHOw&feature=youtu.be" target="_blank">I Do </a></mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <!-- Shreya Ghosal-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>

      <mat-panel-title><mat-icon>album</mat-icon>
        Shreya Ghosal
      </mat-panel-title>
      <mat-panel-description class="cd">
        Click on link to listen Music

      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list role="list">
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=bIFog12aGls&feature=youtu.be" target="_blank" >I Like It </a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href= "https://www.youtube.com/watch?v=8zSRkr1nQNw&feature=youtu.be" target="_blank">Be Careful</a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=yLczB9NiDmY&feature=youtu.be" target="_blank">Best Life</a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon> <a href="https://www.youtube.com/watch?v=_lioDjWSWcE&feature=youtu.be" target="_blank">Pull Up </a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=Psn0fiNaHOw&feature=youtu.be" target="_blank">I Do </a></mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <!-- A R Rehman-->
  <mat-expansion-panel>
    <mat-expansion-panel-header class="c">

      <mat-panel-title class="c"><mat-icon>album</mat-icon>
        A R Rehman
      </mat-panel-title>
      <mat-panel-description class="cd">
        Click on link to listen Music

      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list role="list" class="ni">
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=bIFog12aGls&feature=youtu.be"  target="_blank">I Like It </a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href= "https://www.youtube.com/watch?v=8zSRkr1nQNw&feature=youtu.be" target="_blank">Be Careful</a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=yLczB9NiDmY&feature=youtu.be" target="_blank">Best Life</a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon> <a href="https://www.youtube.com/watch?v=_lioDjWSWcE&feature=youtu.be" target="_blank">Pull Up </a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=Psn0fiNaHOw&feature=youtu.be" target="_blank">I Do </a></mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <!-- Mohit Chuhan-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>

      <mat-panel-title><mat-icon>album</mat-icon>
        Mohit Chuhan
      </mat-panel-title>
      <mat-panel-description class="cd">
        Click on link to listen Music

      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list role="list">
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=bIFog12aGls&feature=youtu.be" target="_blank" >I Like It </a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon><a href= "https://www.youtube.com/watch?v=8zSRkr1nQNw&feature=youtu.be" target="_blank">Be Careful</a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=yLczB9NiDmY&feature=youtu.be" target="_blank">Best Life</a></mat-list-item>
      <mat-list-item role="listitem"><mat-icon>audiotrack</mat-icon> <a href="https://www.youtube.com/watch?v=_lioDjWSWcE&feature=youtu.be" target="_blank">Pull Up </a></mat-list-item>
      <mat-list-item role="listitem"> <mat-icon>audiotrack</mat-icon><a href="https://www.youtube.com/watch?v=Psn0fiNaHOw&feature=youtu.be" target="_blank">I Do </a></mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
