.kat{
  align-content: center;
  font: italic bold 12px/30px Georgia, serif;


}
.KAT{
  font: italic bold 12px/30px Georgia, serif;
  display: block;
}

.bg7{
  background-image: url("C:\Users\haris\WebstormProjects\MiracleSideMenu\src\assets\images\bg_13.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
