
<div class="bg1">


<div class="row"  style="margin-left: 10px" >
<section>
<div class="category"> Horror</div>


<div class="gallery">
  <a target="_blank" href="https://www.amazon.com/Red-Queen-Victoria-Aveyard/dp/006231064X">
    <img src= "../assets/images/image 1.jpg" alt="5Terre" width="600" height="400">
  </a>
  <div class="desc"> To get More detail of book click on Image </div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.barnesandnoble.com/p/wing-and-a-prayer-john-morano/1000631193/2660352345396?st=PLA&sid=BNB_DRS_New+Marketplace+Shopping+Books_00000000&2sid=Google_&sourceId=PLGoP212653&gclid=CjwKCAjw85zdBRB6EiwAov3RisXRrrc_MXXLZsi-fW58brSN_fLEtxcok6k1snqyYip8u9qquf55_BoCRsUQAvD_BwE">
    <img src= "../assets/images/image 2.jpg" alt="5Terre" width="600" height="400">
  </a>
  <div class="desc"> To get More detail of book click on Image </div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.amazon.com/Sammie-Budgie-Simon-Adventures-Book-ebook/dp/B0747XQZNV">
    <img src= "../assets/images/image 3.jpg" alt="5Terre" width="600" height="400">
  </a>
  <div class="desc"> To get More detail of book click on Image </div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.amazon.com/Djinn-City-Saad-Z-Hossain/dp/1944700064/ref=sr_1_1?ie=UTF8&qid=1537721037&sr=8-1&keywords=djinn+city">
    <img src= "../assets/images/image 4.jpg" alt="5Terre" width="600" height="400">
  </a>
  <div class="desc"> To get More detail of book click on Image </div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.amazon.com/Positive-Culture-Wins-Business-Life/dp/0692075089">
    <img src= "../assets/images/image 5.jpg" alt="5Terre" width="600" height="400">
  </a>
  <div class="desc">To get More detail of book click on Image </div>
</div>

  <div class="gallery">
    <a target="_blank" href="https://www.amazon.com/Novel-Stephen-King/dp/1501142976">
      <img src= "../assets/images/image 6.jpg" alt="5Terre" width="600" height="400">
    </a>
    <div class="desc">To get More detail of book click on Image </div>
  </div>

  <div class="gallery">
    <a target="_blank" href="https://en.wikipedia.org/wiki/Gravity%27s_Rainbow">
      <img src= "../assets/images/image 7.jpg" alt="5Terre" width="600" height="400">
    </a>
    <div class="desc">To get More detail of book click on Image </div>
  </div>
</section>
</div>
<!--
-------------------------
-->
<br>

<div class="row" style="margin-left: 10px">
<section>
<div class="category"> Romance </div>

  <br>

<div class="gallery">
  <a target="_blank" href="https://www.amazon.com/Clueless-Cleveland-Sam-Carter-Mystery/dp/0998358908">
    <img src= "../assets/images/image 8.jpg" alt="5Terre" width="600" height="400">
  </a>
  <div class="desc"> To get More detail of book click on Image </div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.amazon.com/Enchantress-Evermen-Saga-Book-1-ebook/dp/B00HQLQYRY">
    <img src= "../assets/images/image 9.jpg" alt="5Terre" width="600" height="400">
  </a>
  <div class="desc">To get More detail of book click on Image </div>
</div>

<div class="gallery">
  <a target="_blank" href="https://www.amazon.com/Women-Education-Social-Empowerment-Gautam/dp/8178841738">
    <img src= "../assets/images/image 10.jpg" alt="5Terre" width="600" height="400">
  </a>
  <div class="desc">To get More detail of book click on Image </div>
</div>

<div class="gallery">
  <a target="_blank" href="https://lithub.com/the-64-best-book-covers-of-2017/">
    <img src= "../assets/images/image 11.jpg" alt="5Terre" width="600" height="400">
  </a>
  <div class="desc">To get More detail of book click on Image </div>
</div>

<div class="gallery">
  <a target="_blank" href="https://en.wikipedia.org/wiki/The_Immortals_of_Meluha">
    <img src= "../assets/images/image 12.jpg" alt="5Terre" width="600" height="400">
  </a>
  <div class="desc"> To get More detail of book click on Image </div>
</div>

  <div class="gallery">
    <a target="_blank" href="https://www.goodreads.com/list/show/10607.Super_Hero_Books_Not_Graphic_Novels_">
      <img src= "../assets/images/image 13.jpg" alt="5Terre" width="600" height="400">
    </a>
    <div class="desc"> To get More detail of book click on Image </div>
  </div>

  <div class="gallery">
    <a target="_blank" href="https://www.amazon.com/How-Say-Work-Second-Communication/dp/0735204306">
      <img src= "../assets/images/image 14.jpg" alt="5Terre" width="600" height="400">
    </a>
    <div class="desc"> To get More detail of book click on Image </div>
  </div>


</section>
</div>

<!--
-----------------
-->
<br>

<div class="row" style="margin-left: 10px">
  <section>
    <div class="category"> Thriller </div>
    <br>

    <div class="gallery">
      <a target="_blank" href="https://www.amazon.com/Empty-Arms-Coping-Miscarriage-Stillbirth/dp/0960945660">
        <img src= "../assets/images/image 15.jpg" alt="5Terre" width="600" height="400">
      </a>
      <div class="desc"> To get More detail of book click on Image </div>
    </div>

    <div class="gallery">
      <a target="_blank" href="https://www.goodreads.com/book/show/1155051.Forgetting_Things">
        <img src= "../assets/images/image 16.jpg" alt="5Terre" width="600" height="400">
      </a>
      <div class="desc"> To get More detail of book click on Image </div>
    </div>

    <div class="gallery">
      <a target="_blank" href="https://www.amazon.com/Robin-Sharma/e/B000APEZCE">
        <img src= "../assets/images/image 17.jpg" alt="5Terre" width="600" height="400">
      </a>
      <div class="desc"> To get More detail of book click on Image </div>
    </div>

    <div class="gallery">
      <a target="_blank" href="https://www.amazon.com/Boy-Scout-Handbook-Trail-Eagle/dp/0839532296">
        <img src= "../assets/images/image 18.jpg" alt="5Terre" width="600" height="400">
      </a>
      <div class="desc"> To get More detail of book click on Image </div>
    </div>

    <div class="gallery">
      <a target="_blank" href="https://www.logodesignlove.com/">
        <img src= "../assets/images/image 19.jpg" alt="5Terre" width="600" height="400">
      </a>
      <div class="desc"> To get More detail of book click on Image </div>
    </div>

    <div class="gallery">
      <a target="_blank" href="https://www.goodreads.com/book/show/28872472-the-savage-dawn">
        <img src= "../assets/images/image 20.jpg" alt="5Terre" width="600" height="400">
      </a>
      <div class="desc"> To get More detail of book click on Image </div>
    </div>

    <div class="gallery">
      <a target="_blank" href="https://www.amazon.com/Access-Expansion-Post-Massification-Opportunities-Participation/dp/0415890446">
        <img src= "../assets/images/image 21.jpg" alt="5Terre" width="600" height="400">
      </a>
      <div class="desc"> To get More detail of book click on Image </div>
    </div>


  </section>
</div>

</div>
