

<!--new code for icon and Hollywood -->
<div class="bg">
<mat-list>
  <mat-list-item clas="D"><mat-icon class="I">movie_filter</mat-icon>Hollywood Movies</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

<mat-tab-group backgroundColor="yellow">
  <mat-tab backgroundColor="yellow" >
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_movies</mat-icon>
      Horror Movie
    </ng-template>

    <div class="pic1"><img src="../assets/images/Conn.jpg" alt="Avatar"></div><br>
    <div class="pic1"><img src="../assets/images/Hmovie_2.jpg" alt="Avatar"></div><br>
    <div class="pic1"><img src="../assets/images/Hmovie_3.jpg" alt="Avatar"></div><br>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_movies</mat-icon>
      Romantic Movie
    </ng-template>
    <div class="pic"><img src="../assets/images/Rmovie_1.jpg" alt="Avatar"></div><br>
    <div class="pic"><img src="../assets/images/Rmovie_2.jpg" alt="Avatar"></div><br>
    <div class="pic"><img src="../assets/images/Rmovie_3.jpg" alt="Avatar"></div><br>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_movies</mat-icon>
      Animated Movie
    </ng-template>
    <div class="pic"><img src="../assets/images/Cmovie_1.jpg" alt="Avatar"></div> <br>
    <div class="pic"><img src="../assets/images/Cmovie_2.jpg" alt="Avatar"></div> <br>
    <div class="pic"><img src="../assets/images/Cmovie_3.jpg" alt="Avatar"></div><br>
  </mat-tab>
</mat-tab-group>

<!--new code for icon ends -->

<!-- Bollywood Start-->
<mat-list>
  <mat-list-item clas="D"><mat-icon class="I">movie_filter</mat-icon>Bollywood Movies</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_movies</mat-icon>
      Horror Movie
    </ng-template>
    <div class="pic"><img src="../assets/images/BHmovie_1.jpg" alt="Avatar"></div><br>
    <div class="pic"><img src="../assets/images/BHmovie_2.jpg" alt="Avatar"></div><br>
    <div class="pic"><img src="../assets/images/BHmovie_3.jpg" alt="Avatar"></div><br>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_movies</mat-icon>
      Romantic Movie
    </ng-template>
    <div class="pic"><img src="../assets/images/RBmovie_1.jpg" alt="Avatar"></div><br>
    <div class="pic"><img src="../assets/images/RBmovie_2.jpg" alt="Avatar"></div><br>
    <div class="pic"><img src="../assets/images/RBmovie_3.jpg" alt="Avatar"></div><br>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_movies</mat-icon>
      Comedy Movie
    </ng-template>
    <div class="pic"><img src="../assets/images/CBmovie_1.jpg" alt="Avatar"></div> <br>
    <div class="pic"><img src="../assets/images/CBmovie_2.jpg" alt="Avatar"></div> <br>
    <div class="pic"><img src="../assets/images/CBmovie_3.jpg" alt="Avatar"></div> <br>
  </mat-tab>
</mat-tab-group>
</div>
