
<div class="bg4">
<ul>

  <li> <div class="bn">This application is built using Angular 6,Angular material,rxjs .</div></li>

  <li> <div class="bn">Home Component welcomes user to the website LetzEnterTain.</div> </li>

  <li> <div class="bn"> About Component describes functionality of the appliaction and information about developer. </div></li>


  <li><div class="bn">  Book Component allows user to see books offered by the website and all book images redirects to the book discription link. </div> </li>
<li> <div class="bn">   Movie Component allows user to see movies offered by the websites.</div> </li>

 <li> <div class="bn">  Music Component allows user to listen to few artist song and link of songs redirects to music video. </div> </li>


 <li> <div class="bn"> All components are routed using navigation component of application.</div> </li>
</ul>
<ul>
  <div class="bn"> Materials Used to build the application:</div>
  <div class="bn"> <a href="https://material.angular.io/"> "https://material.angular.io/ </a> </div>
  <div class="bn"> <a href="https://www.w3schools.com/Css/">  https://www.w3schools.com/Css/ </a> </div>
  <div class="bn"> <a href=" https://www.w3schools.com/html/">   https://www.w3schools.com/html/ </a> </div>
  <div class="bn"> <a href="https://klarsys.github.io/angular-material-icons/">https://klarsys.github.io/angular-material-icons/ </a> </div>
</ul>







<div class="bn">   About the Author: </div>
<div class="bn">   Nidhi Patel </div>
<div class="bn">  +1-470-418-3507</div>
<div class="bn"> http://linkedin.com/in/nidhibahen-patel-49866698 </div>


</div>



