.bg4{
  /*background-color: cornsilk;*/
  background-image: url("C:\Users\haris\WebstormProjects\MiracleSideMenu\src\assets\images\bg_17.jpg");
  background-position: center;

 /* background-size: 800px 500px;*/


  height: 100%;

  border: 2px solid black;
  padding: 25px;

  background-repeat: no-repeat;
  background-size: auto;
}

.bn{
  font:  bold 12px/30px Georgia, serif;
  font-size: small;
}
