
<mat-toolbar color="black">
  <mat-toolbar-row>

    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="pink">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <div class="manage"><h1> LetzEnterTain</h1> </div>
    <br>


  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container" fullscreen class="sidenav-container" style="top: 64px !important;">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink='/home' class="N"><mat-icon class="nidhi">home</mat-icon>Home </a>
      <a mat-list-item routerLink='/about' class="N"><mat-icon class="nidhi"> info </mat-icon> About </a>
      <a mat-list-item routerLink='/book' class="N"><mat-icon class="nidhi">import_contacts</mat-icon> Book </a>
      <a mat-list-item routerLink='/movies' class="N"><mat-icon class="nidhi">movie</mat-icon>Movies  </a>
      <a mat-list-item routerLink='/entertainment' class="N"><mat-icon class="nidhi">my_library_music</mat-icon> Music </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>




